.binary-container {
  margin: 1rem;
}

.binary-output {
  color: #bc6ff1;
}

.binary-container input {
  border: white 0.01rem solid;
  background-color: transparent;
  color: white;
  width: 10rem;
  height: 1.5rem;
  padding-left: 0.5rem;
}

.binary-container p {
  margin-top: 1rem;
}
